.Jumbotron{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  font-family: 'Rubik', sans-serif;
  color: #0D2AD1;
}

.wallLean{
  height: 550px;
  width: 800px;
  margin-top: 5px;
  margin-bottom: 30px;
}
