.Work-header {
  padding-top: 100px;
}

.Heading {
  font-size: 50px;
  font-weight: bold;
  color: #0D2AD1;
}

.Client {
  text-align: left;
  vertical-align: top;
  padding: 20px;
}

.Creation {
  padding-top: 30px;
  text-align: left;
  vertical-align: middle;
  padding: 20px;
}

.PingcapLogo {
  width: 140px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

.talkSpiritLogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

.ForbesLogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

.CitusDataLogo {
  width: 150px;
  height: 100px;
  margin-top: 20px;
}

.OrionVMLogo {
  width: 160px;
  height: 45px;
  margin-top: 30px;
}

.AmpdEnergyLogo {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 20px;
}

.OriginalStitchLogo {
  width: 120px;
  height: 60px;
  margin-top: 30px;
  margin-left: 10px;
}

.GoBoldLogo {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
}

.GWCLogo {
  width: 140px;
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
}

.CeleryLogo {
  width: 140px;
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
}

.AppAnnieLogo {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
}

.TechNodeLogo {
  width: 140px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}

.KoombahLogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}

.AsiaReconLogo {
  width: 130px;
  height: 100px;
  margin-top: 10px;
  margin-left: 20px;
}
