.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  align-self:left;
  color: #E80C20;
}


.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.navMenu{
  width: 500px;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Footer {
  font-size: medium;
  flex: 0 0 auto;
  padding-top: 30px;
}

.navbar-default {
  background-color: white;
}

.navbar-default a {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FF1945;
}
